/* Allineare il titolo al centro */
@media  screen and (max-width: 768px) {
    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media  screen and (max-width: 576px) {
    .text-center{
        font-size: 3.5rem;
    }
}


/* Allineare img e testo che fuoriescono*/

@media  screen and (max-width: 768px) {
    .container{
	   max-width: 768px;
    }
}

@media  screen and (max-width: 576px) {
    .row{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    p{
        font-size: 1rem;
    }

    .lessons .col img{
        margin-top: 2rem;
    }
}


/**/



/**/
